, *:before, *:after {   box-sizing: border-box; }

nav {
  background-color: #000;
  margin: auto;
  padding: 0px
  width: 300px;
}

nav h1 {
  color: white;
  text-align: center;
}

.container {
  width: 375px;
  height: 667px;
  margin: auto;
}

.bus-information h1 {
  text-transform: uppercase;
}

.bus-information li{
  display: inline-block;
}

.direction {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding: 0;
  width: 400px;
  border-style: solid;
  border-color: black;
}

.heading h3 {
}


@media screen and (min-width: 375px) {
    width: 375px;
    height: 667px;
}
