, *:before, *:after {   box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #bfbfbf
}


nav {
  background-color: #fff;
  margin: auto;
}

.statusbar {
  width: 100%;
  background-image: url ('./images/statusbar.png');
}

nav h1 {
  color: black;
  text-align: center;
}

.map {
  background-image: url ('./images/map.png');
}

.direction {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  border: 1px solid #959595;
  border-radius: 5px;
  width: 300px;
}

.container {
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: white;
  overflow: scroll;
}

.bus-information h1 {
  text-transform: uppercase;
  padding-bottom: 3px;
  padding-top: 10px;
  border-bottom: 1px solid #959595;
}

.bus-information li{
  display: inline-block;
}

.line {
  display: inline-block;
  padding-top: 5px;
  padding-right: 57px;
}

.destination {
  display: inline-block;
  padding-right: 55px;
}

.frequency {
  display: inline-block;
}

.sixty {
  display: inline-block;
  padding-right: 57px;
}

.randolph {
  display: inline-block;
  padding-right: 10px;
  padding-left: 15px;
}

.ten-mins {
  display: inline-block;
  padding-left: 15px;
}

.onetwofour {
  display: inline-block;
}

.Navy-Pier {
  display: inline-block;
}

.fifteen-minutes {
  display: inline-block;
}

.heading {
  font-size: 14px;
  font-weight: bold;
}

.details1 {
  font-size: 12px;
  display: inline-block;
}

@media screen and (min-width: 375px) {
    width: 375px;
    height: 667px;
}
